#comp_000 { left: 0px; }
#compl_000 { left: 2px; }
#comp_030 { left: 30px; }
#compl_030 { left: 32px; }
#comp_060 { left: 60px; }
#compl_060 { left: 62px; }
#comp_090 { left: 90px; }
#compl_090 { left: 92px; }
#comp_120 { left: 120px; }
#compl_120 { left: 122px; }
#comp_150 { left: 150px; }
#compl_150 { left: 152px; }
#comp_180 { left: 180px; }
#compl_180 { left: 182px; }
#comp_210 { left: 210px; }
#compl_210 { left: 212px; }
#comp_240 { left: 240px; }
#compl_240 { left: 242px; }
#comp_270 { left: 270px; }
#compl_270 { left: 272px; }
#comp_300 { left: 300px; }
#compl_300 { left: 302px; }
#comp_330 { left: 330px; }
#compl_330 { left: 332px; }
#comp_360 { left: 360px; }
#compl_360 { left: 362px; }
#comp_390 { left: 390px; }
#compl_390 { left: 392px; }
#comp_420 { left: 420px; }
#compl_420 { left: 422px; }
#comp_450 { left: 450px; }
#compl_450 { left: 452px; }
#comp_480 { left: 480px; }
#compl_480 { left: 482px; }
#comp_510 { left: 510px; }
#compl_510 { left: 512px; }
#comp_540 { left: 540px; }
#compl_540 { left: 542px; }
#comp_570 { left: 570px; }
#compl_570 { left: 572px; }
#comp_600 { left: 600px; }
#compl_600 { left: 602px; }
#comp_630 { left: 630px; }
#compl_630 { left: 632px; }
#comp_660 { left: 660px; }
#compl_660 { left: 662px; }
#comp_690 { left: 690px; }
#compl_690 { left: 692px; }
#comp_720 { left: 720px; }
#compl_720 { left: 722px; }
#comp_750 { left: 750px; }
#compl_750 { left: 752px; }
#comp_780 { left: 780px; }
#compl_780 { left: 782px; }
#comp_810 { left: 810px; }
#compl_810 { left: 812px; }
#comp_840 { left: 840px; }
#compl_840 { left: 842px; }
#comp_870 { left: 870px; }
#compl_870 { left: 872px; }
#comp_900 { left: 900px; }
#compl_900 { left: 902px; }
#comp_930 { left: 930px; }
#compl_930 { left: 932px; }
#comp_960 { left: 960px; }
#compl_960 { left: 962px; }
#comp_990 { left: 990px; }
#compl_990 { left: 992px; }
#comp_1020 { left: 1020px; }
#compl_1020 { left: 1022px; }
#comp_1050 { left: 1050px; }
#compl_1050 { left: 1052px; }
#comp_1080 { left: 1080px; }
#compl_1080 { left: 1082px; }
#comp_1110 { left: 1110px; }
#compl_1110 { left: 1112px; }
#comp_1140 { left: 1140px; }
#compl_1140 { left: 1142px; }
#comp_1170 { left: 1170px; }
#compl_1170 { left: 1172px; }
#comp_1200 { left: 1200px; }
#compl_1200 { left: 1202px; }
#comp_1230 { left: 1230px; }
#compl_1230 { left: 1232px; }
#comp_1260 { left: 1260px; }
#compl_1260 { left: 1262px; }
#comp_1290 { left: 1290px; }
#compl_1290 { left: 1292px; }
#comp_1320 { left: 1320px; }
#compl_1320 { left: 1322px; }
#comp_1350 { left: 1350px; }
#compl_1350 { left: 1352px; }
#comp_1380 { left: 1380px; }
#compl_1380 { left: 1382px; }
#comp_1410 { left: 1410px; }
#compl_1410 { left: 1412px; }
#comp_1440 { left: 1440px; }
#compl_1440 { left: 1442px; }
#comp_1470 { left: 1470px; }
#compl_1470 { left: 1472px; }
#comp_1500 { left: 1500px; }
#compl_1500 { left: 1502px; }
#comp_1530 { left: 1530px; }
#compl_1530 { left: 1532px; }
#comp_1560 { left: 1560px; }
#compl_1560 { left: 1562px; }
#comp_1590 { left: 1590px; }
#compl_1590 { left: 1592px; }
#comp_1620 { left: 1620px; }
#compl_1620 { left: 1622px; }
#comp_1650 { left: 1650px; }
#compl_1650 { left: 1652px; }
#comp_1680 { left: 1680px; }
#compl_1680 { left: 1682px; }
#comp_1710 { left: 1710px; }
#compl_1710 { left: 1712px; }
#comp_1740 { left: 1740px; }
#compl_1740 { left: 1742px; }
#comp_1770 { left: 1770px; }
#compl_1770 { left: 1772px; }
#comp_1800 { left: 1800px; }
#compl_1800 { left: 1802px; }
#comp_1830 { left: 1830px; }
#compl_1830 { left: 1832px; }
#comp_1860 { left: 1860px; }
#compl_1860 { left: 1862px; }
#comp_1890 { left: 1890px; }
#compl_1890 { left: 1892px; }
#comp_1920 { left: 1920px; }
#compl_1920 { left: 1922px; }
#comp_1950 { left: 1950px; }
#compl_1950 { left: 1952px; }
#comp_1980 { left: 1980px; }
#compl_1980 { left: 1982px; }
#comp_2010 { left: 2010px; }
#compl_2010 { left: 2012px; }
#comp_2040 { left: 2040px; }
#compl_2040 { left: 2042px; }
#comp_2070 { left: 2070px; }
#compl_2070 { left: 2072px; }
#comp_2100 { left: 2100px; }
#compl_2100 { left: 2102px; }
#comp_2130 { left: 2130px; }
#compl_2130 { left: 2132px; }
#comp_2160 { left: 2160px; }
#compl_2160 { left: 2162px; }
#comp_2190 { left: 2190px; }
#compl_2190 { left: 2192px; }
#comp_2220 { left: 2220px; }
#compl_2220 { left: 2222px; }
#comp_2250 { left: 2250px; }
#compl_2250 { left: 2252px; }
#comp_2280 { left: 2280px; }
#compl_2280 { left: 2282px; }
#comp_2310 { left: 2310px; }
#compl_2310 { left: 2312px; }
#comp_2340 { left: 2340px; }
#compl_2340 { left: 2342px; }
#comp_2370 { left: 2370px; }
#compl_2370 { left: 2372px; }
#comp_2400 { left: 2400px; }
#compl_2400 { left: 2402px; }
#comp_2430 { left: 2430px; }
#compl_2430 { left: 2432px; }
#comp_2460 { left: 2460px; }
#compl_2460 { left: 2462px; }
#comp_2490 { left: 2490px; }
#compl_2490 { left: 2492px; }
#comp_2520 { left: 2520px; }
#compl_2520 { left: 2522px; }
#comp_2550 { left: 2550px; }
#compl_2550 { left: 2552px; }
#comp_2580 { left: 2580px; }
#compl_2580 { left: 2582px; }
#comp_2610 { left: 2610px; }
#compl_2610 { left: 2612px; }
#comp_2640 { left: 2640px; }
#compl_2640 { left: 2642px; }
#comp_2670 { left: 2670px; }
#compl_2670 { left: 2672px; }
#comp_2700 { left: 2700px; }
#compl_2700 { left: 2702px; }
#comp_2730 { left: 2730px; }
#compl_2730 { left: 2732px; }
#comp_2760 { left: 2760px; }
#compl_2760 { left: 2762px; }
#comp_2790 { left: 2790px; }
#compl_2790 { left: 2792px; }
#comp_2820 { left: 2820px; }
#compl_2820 { left: 2822px; }
#comp_2850 { left: 2850px; }
#compl_2850 { left: 2852px; }
#comp_2880 { left: 2880px; }
#compl_2880 { left: 2882px; }
#comp_2910 { left: 2910px; }
#compl_2910 { left: 2912px; }
#comp_2940 { left: 2940px; }
#compl_2940 { left: 2942px; }
#comp_2970 { left: 2970px; }
#compl_2970 { left: 2972px; }
#comp_3000 { left: 3000px; }
#compl_3000 { left: 3002px; }
#comp_3030 { left: 3030px; }
#compl_3030 { left: 3032px; }
#comp_3060 { left: 3060px; }
#compl_3060 { left: 3062px; }
#comp_3090 { left: 3090px; }
#compl_3090 { left: 3092px; }
#comp_3120 { left: 3120px; }
#compl_3120 { left: 3122px; }
#comp_3150 { left: 3150px; }
#compl_3150 { left: 3152px; }
#comp_3180 { left: 3180px; }
#compl_3180 { left: 3182px; }
#comp_3210 { left: 3210px; }
#compl_3210 { left: 3212px; }
#comp_3240 { left: 3240px; }
#compl_3240 { left: 3242px; }
#comp_3270 { left: 3270px; }
#compl_3270 { left: 3272px; }
#comp_3300 { left: 3300px; }
#compl_3300 { left: 3302px; }
#comp_3330 { left: 3330px; }
#compl_3330 { left: 3332px; }
#comp_3360 { left: 3360px; }
#compl_3360 { left: 3362px; }
#comp_3390 { left: 3390px; }
#compl_3390 { left: 3392px; }
#comp_3420 { left: 3420px; }
#compl_3420 { left: 3422px; }
#comp_3450 { left: 3450px; }
#compl_3450 { left: 3452px; }
#comp_3480 { left: 3480px; }
#compl_3480 { left: 3482px; }
#comp_3510 { left: 3510px; }
#compl_3510 { left: 3512px; }
#comp_3540 { left: 3540px; }
#compl_3540 { left: 3542px; }
#comp_3570 { left: 3570px; }
#compl_3570 { left: 3572px; }
#comp_3600 { left: 3600px; }
#compl_3600 { left: 3602px; }
#comp_3630 { left: 3630px; }
#compl_3630 { left: 3632px; }
#comp_3660 { left: 3660px; }
#compl_3660 { left: 3662px; }
#comp_3690 { left: 3690px; }
#compl_3690 { left: 3692px; }
#comp_3720 { left: 3720px; }
#compl_3720 { left: 3722px; }
#comp_3750 { left: 3750px; }
#compl_3750 { left: 3752px; }
#comp_3780 { left: 3780px; }
#compl_3780 { left: 3782px; }
#comp_3810 { left: 3810px; }
#compl_3810 { left: 3812px; }
#comp_3840 { left: 3840px; }
#compl_3840 { left: 3842px; }
#comp_3870 { left: 3870px; }
#compl_3870 { left: 3872px; }
#comp_3900 { left: 3900px; }
#compl_3900 { left: 3902px; }
#comp_3930 { left: 3930px; }
#compl_3930 { left: 3932px; }
#comp_3960 { left: 3960px; }
#compl_3960 { left: 3962px; }
#comp_3990 { left: 3990px; }
#compl_3990 { left: 3992px; }
#comp_4020 { left: 4020px; }
#compl_4020 { left: 4022px; }
#comp_4050 { left: 4050px; }
#compl_4050 { left: 4052px; }
#comp_4080 { left: 4080px; }
#compl_4080 { left: 4082px; }
#comp_4110 { left: 4110px; }
#compl_4110 { left: 4112px; }
#comp_4140 { left: 4140px; }
#compl_4140 { left: 4142px; }
#comp_4170 { left: 4170px; }
#compl_4170 { left: 4172px; }
#comp_4200 { left: 4200px; }
#compl_4200 { left: 4202px; }
#comp_4230 { left: 4230px; }
#compl_4230 { left: 4232px; }
#comp_4260 { left: 4260px; }
#compl_4260 { left: 4262px; }
#comp_4290 { left: 4290px; }
#compl_4290 { left: 4292px; }
#comp_4320 { left: 4320px; }
#compl_4320 { left: 4322px; }
#comp_4350 { left: 4350px; }
#compl_4350 { left: 4352px; }
#comp_4380 { left: 4380px; }
#compl_4380 { left: 4382px; }
#comp_4410 { left: 4410px; }
#compl_4410 { left: 4412px; }
#comp_4440 { left: 4440px; }
#compl_4440 { left: 4442px; }
#comp_4470 { left: 4470px; }
#compl_4470 { left: 4472px; }
#comp_4500 { left: 4500px; }
#compl_4500 { left: 4502px; }
#comp_4530 { left: 4530px; }
#compl_4530 { left: 4532px; }
#comp_4560 { left: 4560px; }
#compl_4560 { left: 4562px; }
#comp_4590 { left: 4590px; }
#compl_4590 { left: 4592px; }
#comp_4620 { left: 4620px; }
#compl_4620 { left: 4622px; }
#comp_4650 { left: 4650px; }
#compl_4650 { left: 4652px; }
#comp_4680 { left: 4680px; }
#compl_4680 { left: 4682px; }
#comp_4710 { left: 4710px; }
#compl_4710 { left: 4712px; }
#comp_4740 { left: 4740px; }
#compl_4740 { left: 4742px; }
#comp_4770 { left: 4770px; }
#compl_4770 { left: 4772px; }
#comp_4800 { left: 4800px; }
#compl_4800 { left: 4802px; }
#comp_4830 { left: 4830px; }
#compl_4830 { left: 4832px; }
#comp_4860 { left: 4860px; }
#compl_4860 { left: 4862px; }
#comp_4890 { left: 4890px; }
#compl_4890 { left: 4892px; }
#comp_4920 { left: 4920px; }
#compl_4920 { left: 4922px; }
#comp_4950 { left: 4950px; }
#compl_4950 { left: 4952px; }
#comp_4980 { left: 4980px; }
#compl_4980 { left: 4982px; }
#comp_5010 { left: 5010px; }
#compl_5010 { left: 5012px; }
#comp_5040 { left: 5040px; }
#compl_5040 { left: 5042px; }
#comp_5070 { left: 5070px; }
#compl_5070 { left: 5072px; }
#comp_5100 { left: 5100px; }
#compl_5100 { left: 5102px; }
#comp_5130 { left: 5130px; }
#compl_5130 { left: 5132px; }
#comp_5160 { left: 5160px; }
#compl_5160 { left: 5162px; }
#comp_5190 { left: 5190px; }
#compl_5190 { left: 5192px; }
#comp_5220 { left: 5220px; }
#compl_5220 { left: 5222px; }
#comp_5250 { left: 5250px; }
#compl_5250 { left: 5252px; }
#comp_5280 { left: 5280px; }
#compl_5280 { left: 5282px; }
#comp_5310 { left: 5310px; }
#compl_5310 { left: 5312px; }
#comp_5340 { left: 5340px; }
#compl_5340 { left: 5342px; }
#comp_5370 { left: 5370px; }
#compl_5370 { left: 5372px; }
#comp_5400 { left: 5400px; }
#compl_5400 { left: 5402px; }
#label_001 { left:   65px; }
#light_001 { animation-name: Fl; background-color: red; animation-duration: 4.00s; animation-delay: 2370ms; }
#label_002 { left:  393px; }
#light_002 { animation-name: Fl; background-color: green; animation-duration: 4.00s; animation-delay: 3326ms; }
#label_003 { left:  411px; }
#light_003 { animation-name: Fl; background-color: red; animation-duration: 4.00s; animation-delay: 704ms; }
#label_004 { left:  460px; }
#light_004 { animation-name: Iso; background-color: red; animation-duration: 2.00s; animation-delay: 2253ms; }
#label_005 { left:  866px; }
#light_005 { animation-name: Fl; background-color: white; animation-duration: 4.00s; animation-delay: 2500ms; }
#label_006 { left: 1357px; }
#light_006 { animation-name: Fl; background-color: green; animation-duration: 4.00s; animation-delay: 3630ms; }
#label_007 { left: 1361px; }
#light_007 { animation-name: Fl; background-color: red; animation-duration: 4.00s; animation-delay: 2480ms; }
#label_008 { left: 1754px; }
#light_008 { animation-name: Fl; background-color: green; animation-duration: 4.00s; animation-delay: 1393ms; }
#label_009 { left: 1957px; }
#light_009 { animation-name: Fl; background-color: yellow; animation-duration: 6.00s; animation-delay: 3004ms; }
#label_010 { left: 2158px; }
#light_010 { animation-name: Fl; background-color: yellow; animation-duration: 4.00s; animation-delay: 124ms; }
#label_011 { left: 2168px; }
#light_011 { animation-name: Iso; background-color: white; animation-duration: 6.00s; animation-delay: 43ms; }
#label_012 { left: 2300px; }
#light_012 { animation-name: Oc; background-color: white; animation-duration: 4.00s; animation-delay: 267ms; }
#label_013 { left: 2307px; }
#light_013 { animation-name: Fl; background-color: white; animation-duration: 4.00s; animation-delay: 515ms; }
#label_014 { left: 2312px; }
#light_014 { animation-name: Fl; background-color: red; animation-duration: 9.00s; animation-delay: 3445ms; }
#label_015 { left: 2332px; }
#light_015 { animation-name: Fl; background-color: yellow; animation-duration: 2.50s; animation-delay: 1794ms; }
#label_016 { left: 2424px; }
#light_016 { animation-name: Fl; background-color: red; animation-duration: 4.00s; animation-delay: 336ms; }
#label_017 { left: 2483px; }
#light_017 { animation-name: Fl; background-color: red; animation-duration: 2.50s; animation-delay: 3601ms; }
#label_018 { left: 2535px; }
#light_018 { animation-name: Q; background-color: red; animation-duration: 1.00s; animation-delay: 3273ms; }
#label_019 { left: 2547px; }
#light_019 { animation-name: Fl; background-color: red; animation-duration: 4.00s; animation-delay: 70ms; }
#label_020 { left: 2641px; }
#light_020 { animation-name: Fl; background-color: white; animation-duration: 10.00s; animation-delay: 3961ms; }
#label_021 { left: 2659px; }
#light_021 { animation-name: Fl; background-color: green; animation-duration: 4.00s; animation-delay: 3452ms; }
#label_022 { left: 2695px; }
#light_022 { animation-name: Fl; background-color: red; animation-duration: 4.00s; animation-delay: 3469ms; }
#label_023 { left: 2740px; }
#light_023 { animation-name: Fl; background-color: white; animation-duration: 2.50s; animation-delay: 2208ms; }
#label_024 { left: 3159px; }
#light_024 { animation-name: none; background-color: darkblue; animation-duration: 0.00s; animation-delay: 3258ms; }
#label_025 { left: 3220px; }
#light_025 { animation-name: Fl; background-color: white; animation-duration: 10.00s; animation-delay: 1561ms; }
#label_026 { left: 3387px; }
#light_026 { animation-name: Fl; background-color: red; animation-duration: 4.00s; animation-delay: 2506ms; }
#label_027 { left: 3812px; }
#light_027 { animation-name: Fl; background-color: white; animation-duration: 15.00s; animation-delay: 3786ms; }
#label_028 { left: 4103px; }
#light_028 { animation-name: none; background-color: darkblue; animation-duration: 0.00s; animation-delay: 2397ms; }
#label_029 { left: 4270px; }
#light_029 { animation-name: Fl; background-color: red; animation-duration: 2.50s; animation-delay: 3098ms; }
